* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-invert);
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

textarea,
input {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: inherit;
}

ul {
  list-style: none;
}
